{% extends 'index.html' %}
{% block title %}最短路径问题{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check mx-2"></i>
            <strong>{{ message }}</strong>
        </div>
    {% endif %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">{% block index %}最短路径{% endblock %}</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-small mb-4">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">{% block sim %}生成图{% endblock %}</h6>
                    </div>
                    <div align="center"><img src="../media/image/test_board1.png" width="100%"
                                             height="auto">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-small mb-4 pt-3">
                    <div class="card-header border-bottom text-center">
                        <h4 class="mb-0">操作板</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4">
                            <div class="progress-wrapper">
                                {% block controlpanel %}
                                    <form class='' action="{% url 'front:route' %}" method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-7">
                                                <select id="inputState" class="form-control" name="point_number">
                                                    <option selected>选择顶点数</option>
                                                    <option>10</option>
                                                    <option>15</option>
                                                    <option>20</option>
                                                    <option>25</option>
                                                    <option>30</option>
                                                    <option>35</option>
                                                    <option>40</option>
                                                    <option>45</option>
                                                    <option>50</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <button type="submit" class="btn btn-pill btn-outline-primary"
                                                        name="point">顶点生成
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% endblock %}
                            </div>


                        </li>
                        <li class="list-group-item p-4">
                            <strong class="text-muted d-block mb-2">Description</strong>
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Default Light Table -->
    </div>
{% endblock %}
