{% extends 'index.html' %}
{% block title %}sift{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check mx-2"></i>
            <strong>{{ message }}</strong>
        </div>
    {% endif %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Sift</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-small mb-4 pt-3">
                    <div class="card-header border-bottom text-center">
                        <h4 class="mb-0">操作板</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4">
                            <div class="progress-wrapper">
                                <strong class="text-muted d-block mb-2">传入图片</strong>
                                <form class='' action="{% url 'front:sift' %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <span>{{ new_image.image1 }} {{ new_image.image2 }}
                                        <button type="submit" class="btn btn-pill btn-outline-primary">start
                                        </button>
                                    </span>
                                </form>
                            </div>


                        </li>
                        <li class="list-group-item p-4">
                            <strong class="text-muted d-block mb-2">Description</strong>
                            <span>xxx</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-small mb-4">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">original_pictures</h6>
                    </div>
                    <div align="center">
                        -><img src="{{ img_ob.image1.url }}" width="auto"
                               height="auto">
                        <img src="{{ img_ob.image2.url }}" width="auto"
                             height="auto"><-
                    </div>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">processed_picture</h6>
                    </div>
                    <div align="center">-><img src="{{ img_ob.image_processed.url }}" width="auto"
                                               height="auto"><-
                    </div>
                </div>
            </div>
        </div>
        <!-- End Default Light Table -->
    </div>
{% endblock %}
